<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cafe Hoppers</title>
  <link rel="stylesheet" type="text/css" href="/css/nouislider.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/nouislider.min.js"></script>
  <script defer src="/js/wNumb.js"></script>
  <script defer src="/js/rangeSlider.js"></script>
  <%- js %>
</head>
<body>
  <nav>
    <h1><a href="/">Cafe Hoppers</a></h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cafes">Find a cafe</a></li>
      <% if (!isLoggedIn) { %>
        <li><a href="/login">Log in</a></li>
      <% } else { %>
        <li><a href="/cafes/new">Share a cafe</a></li>
        <!-- <a href="/user/list"><li>List</li></a> -->
        <li><a href="/user"><img src="<%= currentUser.icon_url %>" alt="user_icon"></a></li>
      <% } %>
    </ul>
  </nav>

  <div class="container">
  
    <%- body %>

  </div>

  <footer>
    <p>All Contents Copyright &copy; 2024 Leotta-38 All Rights Reserved.</p>
  </footer>
</body>
</html>