<p><%= error %></p>

<form action="/login" method="post">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button>Log in</button>
</form>

<p>Don't have an account?</p>
<a href="/signup">Sign up</a>