@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/img/body_back.jpg');
  font-family: 'Courgette', cursive;
}

a, p, h1, h2 {
  text-decoration: none;
  color: #666;
}

li {
  list-style: none;
}


/* form */
.form {
  text-align: center;
}

.error {
  color: darkred;
}

input {
  display: block;
  margin: 7px auto 20px auto;
  width: 300px;
  font-size: 20px;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #aaa;
  font-family: 'Courgette', cursive;
}

textarea {
  display: block;
  margin: 7px auto 20px auto;
  width: 400px;
  height: 100px;
  font-size: 20px;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #aaa;
  font-family: 'Courgette', cursive;
}

.rating-input {
  width: 150px;
  margin: 0 auto 10px auto;
}

select {
  font-size: 14px;
  padding: 3px;
  border-radius: 7px;
  border: 1px solid #aaa;
  font-family: 'Courgette', cursive;
}

button {
  display: block;
  margin: 30px auto;
  width: 300px;
  font-size: 20px;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #aaa;
  font-family: 'Courgette', cursive;
  background-color: aliceblue;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
  transition: 1s all;
}

.form p, .form a {
  font-size: 16px;
  margin: 10px 0;
}

.form a {
  text-decoration: underline;
}

.delete-btn {
  background-color: blanchedalmond;
}

.delete-btn:hover {
  background-color: darksalmon;
}


/* layout */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

nav h1 {
  font-size: 75px;
  margin-left: 35px;
}

nav ul {
  margin-right: 35px;
}

nav li {
  font-size: 18px;
  display: inline-block;
  margin: 30px;
}

nav img {
  height: 60px;
  vertical-align: middle;
  border-radius: 50%;
}

.container {
  width: 80%;
  margin: 20px auto;
}

footer {
  margin: 50px 0 20px 0;
  text-align: center;
}


/* home */
.grid-title {
  font-size: 30px;
  margin: 15px 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.grid-wrapper h2 {
  font-size: 1vw;
  margin: 10px;
}

.grid-wrapper p {
  font-size: 16px;
  margin: 10px;
}

.ui-card {
  border: 1px solid gray;
}

.ui-card img {
  width: 100%;
  display: block;
}

.view-all {
  text-align: right;
  font-size: 16px;
  margin: 10px 0;
  text-decoration: underline;
}


/* user */
.profile {
  text-align: center;
}

.profile img {
  height: 250px;
  border-radius: 50%;
}

.profile h2 {
  font-size: 36px;
}

.profile p {
  font-size: 20px;
  margin: 20px 0;
}

.profile a {
  font-size: 20px;
  text-decoration: underline;
}

.logout-btn {
  width: 120px;
}


/* cakes */
.grid-wrapper1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.for-filter {
  height: 600px;
  width: 100%;
  background-color: #666;
  color: white;
}

.flex-wrapper1 {
  display: flex;
  justify-content: space-between;
}

.flex-wrapper1 p {
  font-size: 20px;
}

.sort-btn {
  display: inline;
  margin: 0 0 15px 5px;
  width: 60px;
  font-size: 14px;
  padding: 3px;
}

.grid-wrapper2 {
  display: grid;
  gap: 10px;
}

.cafes_box {
  border: 1px solid #999;
  border-radius: 15px;
  display: flex;
}

.cafes_box img {
  display: block;
  height: 200px;
  margin: 5px 20px;
  border: 1px solid #ccc;
}

.flex-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.flex-wrapper2 h3 {
  font-size: 30px;
}

.flex-wrapper2 p {
  font-size: 20px;
}

.flex-wrapper2 a {
  text-decoration: underline;
}


/* info */
.info {
  text-align: center;
}

.info h1 {
  font-size: 40px;
}

.info h2 {
  font-size: 30px;
  margin-top: 40px;
}

.cafe-photos {
  margin: 10px auto;
  width: 60%;
}

.cafe-photos img {
  width: 100%;
}

.btn-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo-btn {
  padding: 1rem;
  cursor: pointer;
  pointer-events: auto;
}

.photo-btn img {
  pointer-events: none;
  max-width: 150px;
}

.cafe_about {
  display: grid;
  width: 80%;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cafe_about iframe {
  width: 100%;
}

.reviews {
  margin: 10px auto;
  width: 80%;
}

.review {
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 5px auto;
}

.review > div {
  text-align: left;
  flex-grow: 1;
}

.review > div > div + div + p {
  margin: 5px ;
}

.review p {
  display: inline-block;
}

.flex-wrapper3 {
  display: flex;
  align-items: center;
}

.flex-wrapper3 p {
  font-size: 18px;
}

.flex-wrapper3 > p + p {
  margin-left: auto;
  margin-right: 5px;
  font-size: 14px;
}

.flex-wrapper3 > img {
  height: 40px;
  border-radius: 50%;
  margin: 5px
}

.flex-wrapper4 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gray;
}

.flex-wrapper4 p {
  margin: 0 5px 5px 5px;
}

.flex-wrapper4 a {
  text-decoration: underline;
}

.review_photo {
  height: 150px;
  display: block;
  margin: 5px;
}

.comment-form {
  background-color: white;
  border: 1px solid gray; 
}

.comment-form form {
  display: grid;
  grid-template-columns: 2fr 1fr; 
}

.comment-form form textarea {
  width: 100%;
  height: 90%;
  margin: 5px;
}

.comment-btn {
  margin: 10px auto;
  width: 150px;
  font-size: 16px;
  padding: 6px;
}