@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/img/body_back.jpg');
  background-color: mistyrose;
}

a, p {
  text-decoration: none;
  color: #666;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-family: 'Courgette', cursive;
  font-size: 75px;
  margin: 30px;
  display: inline-block;
}

nav li {
  font-family: 'Courgette', cursive;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}

/* .container {
  padding-top: 100px;
} */

.user_icon {
  height: 50px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.ui-card {
  border: 1px solid purple;
}

.ui-card img {
  width: 100%;
}

.cafes_box {
  border: 1px solid gray;
}

.cafes_box img {
  height: 200px;
}

.cafes_box h3 {
  display: inline-block;
}

.info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.cafe_photo {
  width: 40%;
}

.cafe_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cafe_about iframe {
  width: 100%;
}

.comment {
  border: 1px solid gray;
  position: relative;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  height: 100px;
}

.comment_user_icon {
  position: absolute;
  height: 20px;
  left: 0;
}

.comment_username {
  position: absolute;
  left: 30px;
}

.comment_date {
  position: absolute;
  right: 0;
}

.comment_review_point {
  position: absolute;
  right: 240px;
}

.comment_comment {
  position: absolute;
  top: 20px;
}

.comment_photo {
  position: absolute;
  top: 20px;
  right: 0;
  height: 75px;
  width: auto;
}

.comment_edit {
  position: absolute;
  left: 0;
  bottom: 0;
}

footer {
  margin-top: 30px;
}